.app-container{
  min-height: 100vh;
}
main{
  flex: 1;
}
.row > * {
  padding: 0.5rem !important;

  margin-right: 0px;
  margin-left: 0px;
}

.card {
  padding: 0 !important;
}

.card-img-top {
  height: 170px;
  object-fit: contain;
}

.card-img-top:hover {
  transform: scale(1.07);
}

button {
  background-color: #febd69;
  border: none;
  margin: auto;
  border-radius: 8px;
  margin: auto;
}

button:hover {
  background-color: #f79210;
}
.price {
  color: #f79210;
}

.add-to-cart {
  color: black;
  font-size: 25px;
}

.card-text {
  line-height: 1.5em;
  height: 3em; /* height is 3x line-height, so two lines will display */
  overflow: hidden; /* prevents extra lines from being visible */
}

.card {
  border-radius: 0px !important;
}
.card-title {
  line-height: 0.9em;
  height: 1.8em;
  overflow: hidden;
  margin-top: 8px;
}

.logo {
  height: 3rem;
  width: 10rem;
}

/* Media queries */
@media only screen and (max-width: 900px) {
  button {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
}
